@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Inconsolata', monospace; */
}

/*Login page*/

.login {
    display: flex;
    height: 600px;
    width: 100%;
    background-color: rgb(235, 240, 235);
    justify-content: center;
    align-items: center;
}
.login-container {
    width: 60%;
    background-color: #fff;
    display: flex;
    border-radius: 8px;
}
.logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 300px;
    width: 300px;
}
.content-login {
    width: 60%;
}
.content-login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-login form span {
    display: block;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;
}
.content-login form input {
    width: 200px;
    height: 30px;
    margin: 0 20px;
    font-size: 18px;
}
.content-login form button {
    margin: 15px 0;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: wheat;
    background-color: coral;
    cursor: pointer;
}

/*Page Admin Dashboard*/
.dashboard {
    width: 100%;
    display: flex;
    position: absolute;
    top: 60px;
    z-index: -2;
}
.menu-dashboard {
    width: 20%;
    background:linear-gradient(#19ac90 0%, #90c745 100%);
    z-index: 1;
}
.logo-dashboard {
    display: flex;
    justify-content: center;
}
.logo-dashboard img {
    width: 250px;
    height: 200px;
}
.dashboard-menu-items {
    margin: 0 20px;
}
.dashboard-menu-items li {
    display: block;
    padding: 5px 0;
}
.dashboard-menu-items li a {
    cursor: pointer;
    font-size: 18px;
    color: wheat;
}
.content-dashboard {
    width: 80%;
    background-color: rgb(235, 240, 235);
    z-index: 0;
}
.dashboard-submenu-items {
    margin-left: 10px;
    padding-left: 30px;
    border-left: 2px solid rgb(216, 212, 212);
}
/*Dashboard content*/
.content-dashboard>span {
    display: block;
    margin: 25px;
    font-size: 22px;
    font-weight: 600;
}
.dashboard-content-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 2px solid #666;
}
.dashboard-content-box {
    background-color: #169981;
    margin: 0 10px;
    border-radius: 5px;
}
.dashboard-content-box>i {
    font-size: 30px;
    background-color: #f35454;
    color: white;
    padding: 28px;
    position: absolute;
    top: 70px;
    margin-left: 8px;
    border-radius: 5px;
    box-shadow:  0 0 1px #169981,
    0 0 5px #000;
}
.dashboard-content-box-item {
    height: 90px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.dashboard-content-box-item span {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
}
.dashboard-content-table-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.dashboard-content-table {
    /* height: 200px; */
    /* width: 200px; */
    background-color: #198f79;
    margin: 20px 10px;
    position: relative;
    border-radius: 5px;
}
.dashboard-content-table-header {
    width: 96%;
    margin: 0 auto;
    cursor: pointer;
    box-shadow:  0 0 1px #169981,
    0 0 5px #000;
    border-radius: 5px;
}
.dashboard-content-table-header>span {
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: 600;
    color: wheat;
    background-color: #1a42a7;
    margin-top: -10px;
    border-radius: 5px;
    padding: 11px 0;
}
.dashboard-content-table-item {
    margin: 10px auto;
    width: 95%;
    border-collapse: collapse;
}
.dashboard-content-table-item tr {
    border: solid #98fce9;
    border-width: 1px 0;
    border-bottom: none;
}
.dashboard-content-table-item th {
    text-align: left;
    font-size: 19px;
    padding: 7px;
    color: cyan;
}
.dashboard-content-table-item td {
    color: white;
    font-size: 18px;
    padding: 7px;
}
.dashboard-content-table-pagination {
    display: flex;
    justify-content: flex-end;
    margin: 5px 20px 15px 20px;
}
.dashboard-content-table-pagination-btn {
    background-color: wheat;
    border: 1px solid rgb(129, 123, 123);
    display: flex;
    border-radius: 5px;
}
.dashboard-content-table-pagination-btn span {
    font-size: 18px;
    padding: 6px;
    border-right: 1px solid rgb(129, 123, 123);
    cursor: pointer;
}
.dashboard-content-table-pagination-btn-selected {
    background: #8aa8f7;
    font-weight:600;
}
.dashboard-content-table-pagination-btn span:hover {
    /* background-color: rgb(250, 240, 220); */
    background-color: rgb(199, 181, 146);
}
.space {
    height: 50px;
}

/*Header bar*/
.header {
    /* height: 60px; */
    -moz-box-shadow: 3px 3px 5px 0px #666;
    -webkit-box-shadow: 3px 3px 5px 0px #666;
    box-shadow: 3px 3px 5px 0px #666;
    z-index: 0;
    background-color: #ffffff;
}
.header>span {
    font-family: 'Pacifico', cursive;   
    font-size: 30px;
    line-height: 60px;
    cursor: pointer;
    margin: 0 20px;
}
.header>i {
    line-height: 60px;
    font-size: 25px;
    margin: 0 40px;
    cursor: pointer;
}
.header-user {
    /* height: 60px; */
    display: inline-flex;
    position: absolute;
    right: 30px;
}
.avatar {
    margin-left: 15px;
    /* height: 60px; */
    display: flex;
    justify-content: left;
    align-items: center;
}
.avatar img {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.header-info-user {
    /* height: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
}
.header-info-user span {
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.header-show-user {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-show-user i {
    cursor: pointer;
    font-size: 20px;
    padding: 7px 7px 5px 7px;
    background-color: rgb(202, 189, 189);
    border-radius: 50%;
}
.header-function-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.header-function-user i {
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}
#header-search-user-container {
    display: block;
    padding: 20px 0px 20px 20px;
    background-color: #98b5ff;
    position: absolute;
    left: 10px;
    top: 65px;
    border-radius: 5px;
    transform: translateY(-90px);
    z-index: -1;
}
#header-search-user {
    width: 200px;
    height: 30px;
    font-size: 20px;
    padding: 0 3px;
}
#header-search-user:focus {
    color: blue;
    
}
.header-detail-user {
    display: none;
    position: absolute;
    top: 70px;
    right: -10px;
    width: 300px;
    background-color: rgb(160, 160, 160);
    border: 1px solid rgb(211, 175, 162);
    border-bottom: none;
    border-radius: 5px;
}
.header-detail-user ul li {
    padding: 10px 5px;
    border-bottom: 2px solid wheat;
    cursor: pointer;
}
.header-detail-user ul li a {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 15px; 
    display: block;
}
.header-detail-user ul li:hover{
    background-color: #19ac90;
}
.header-notification {
    border: 5px solid red;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 12px;
}

/*Use more than 1 time*/
.error {
    display: none;
    color: red;
    padding: 10px 0 0 0;
    font-size: 18px;
    font-weight: 600;
}
.straight-line {
    height: 40px;
    border-left: 1px solid rgb(216, 212, 212);
}
.disable-copy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.straight-long-line {
    /* height: 90px; */
    border-left: 2px solid rgb(216, 212, 212);
    position: absolute;
    left: 30px;
}
.bold-title {
    font-weight: 600;
}
.clear {
    clear: both;
}
.disable {
    background-color: rgb(238, 238, 238);
    color: rgb(153, 153, 153);
    pointer-events: none;
}
/*Responsive*/
@media only screen and (min-width: 1100px) {
    /*Reponsive menu bar page index*/

}

@media only screen and (max-width:1100px) and (min-width:600px){
    /*Responsive page login*/
    .login-container {
        flex-direction: column;
    }
    .logo,.content-login{
        width: 100%;
    }
    .submit-container {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    /*Reponsive menu bar page index*/
    .logo-dashboard img {
        height: 130px;
        width: 130px;
    }
    .dashboard-submenu-items {
        padding-left: 10px;
    }
}

@media only screen and (max-width:600px) {
    /*Responsive page login*/
    .login-container {
        flex-direction: column;
    }
    .logo,.content-login{
        width: 100%;
    }
    .logo img {
        width: 200px;
        height: 200px;
    }
    .submit-container {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .content-login form input {
        display: block;
        margin: 10px 0;
        width: 150px;
    }
    .error {
        max-width: 160px;
    }
}

@media only screen and (max-width:700px) {
    /*Reponsive menu bar page index*/
    .logo-dashboard img {
        height: 80px;
        width: 80px;
        border-bottom: 2px solid rgb(216, 212, 212);
    }
    .dashboard-submenu-items {
        padding-left: 10px;
    }
    .dashboard {
        flex-direction: column;
        top: 180px;
    }
    .menu-dashboard {
        width: 100%;
    }
    .content-dashboard {
        width: 100%;
    }
    .menu-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header>span {
        display: block;
        text-align: center;
    }
    .header>i {
        display: block;
        text-align: center;
    }
    .header-user {
        display: flex;
        justify-content: center;
        position: unset;
    }
    .header-notification {
        display: none;
    }
    .header-detail-user {
        top: 185px;
        right: 20px;
    }
}