.header-container{
	display:flex;
	flex-direction: row;
	border-bottom: 2px solid #ddd;
}
.header-container div{
	text-align: center;
	width:25%;
	margin-bottom: 10px;
	font-weight: bold;
}
.invoice-title-header h4{
	text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.mid{
	margin-bottom: 0px;
}
.invoice-item{
	display:flex;
	flex-direction: row;
}
.invoice-item div{
	width:25%;
	text-align: center;
}
.invoice-item{
	border-bottom:1px solid #ddd;
}
.invoice-item:last-child{
	border-bottom:0;
}
.invoice-item{
	padding-top:10px;
}
.invoice-item div input[type='submit']
{
	display: block;
	margin:10px auto;
}
.container-product-list-modal{
	margin:40px auto;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.container-modal{
	width:95%;
	margin:0 auto;
}
.invoice-list{
	height:350px;
	overflow-x: hidden;
	overflow-y: auto;
}
.modal .header-detail{
	font-weight: bold;
	font-size: 18px;
}
.container-modal-detail{
	border:1px solid black;
	padding:20px;
}
.product-item{
	display:flex;
	flex: 1 1 0;
	width: 100%;
	height: 150px;
	align-items: center;
}
.product-item div{
	width:100%;
	text-align: center;
}
.product-item div > img{
	width:150px;
	height:150px;
}
.invoice-item div input[type='submit']:first-child
{
	margin-top:0px;
}
.container-invoice-view{
	width:85%;
	margin:30px auto;
}
.message-container{
	width:100%;
	text-align: center;
	padding-top:20px;
}
@media only screen and (max-width: 1100px)
{
	.container-invoice-view{
		width:95%;
	}
	.invoice-item div{
		flex:1;
		width:100%;
	}
}
@media only screen and (max-width: 596px)
{
	.header-container{
		display: none;
	}
	.invoice-item{
		flex-direction: column;
	}
	.invoice-item div{
		text-align: left;
	}
	.invoice-item div:first-child:before{
		content:'Mã hóa đơn: ';
		font-weight: bold;
		font-size: 16px;
	}
	.invoice-item div:nth-child(2):before{
		content:'Ngày mua: ';
		font-weight: bold;
		font-size: 16px;
	}
	.invoice-item div:nth-child(3):before{
		content:'Tổng tiền: ';
		font-weight: bold;
		font-size: 16px;
	}
	.invoice-item div:nth-child(4):before{
		content:'Tình trạng hóa đơn: ';
		font-weight: bold;
		font-size: 16px;
		color: black;
	}
	.invoice-item div input[type='submit']
	{
		margin:0;
		margin-left:auto;
		margin-top:10px;
		margin-bottom: 10px;
	}
	.product-item{
		flex-direction: column;
		align-items: center;
	}
	.product-item div:first-child{
		font-weight: bold;
		font-size:18px;
	}
	.product-item div.product-subtotal, div.product-quantity, div.product-size {
    	text-align: right;
    	padding-right: 10px;
	}
	.product-item div.product-subtotal:before{
		content:'Thành tiền: ';
		font-weight: bold;
		font-size: 16px;
	}
	.product-item{
		border:1px solid #ddd;
		height: auto;
	}
	.product-item div.product-quantity:before{
		content:'x';
	}
	.product-item div.product-size:before{
		content:'Kích cỡ: ';
		font-weight: bold;
		font-size: 16px;
	}
}